# TODO: Ignore all Forge server stuff

# Ignore all Mohist server stuff
.mixin.out/
1.12.2.json
astralsorcery/
backups/
banned-ips.json
banned-players.json
bukkit.yml
commands.yml
crash-reports/
/customnpcs/
eula.txt
help.yml
libraries/
llibrary/
logs/
mods/
*.jar
*.log
mohist-config/
ops.json
options.txt
paper.yml
patchouli_books/
permissions.yml
plugins/
/saves/
server.properties
servers.dat
/SkyMagicIslands-config-test.zip
spigot.yml
tmp/
usercache.json
usernamecache.json
/world/
whitelist.json

# Ignore misc junk
*.dat_old
